In [1]:
import pandas as pd

In [3]:
raw_data = pd.read_csv("video_game_sales.csv")

In [4]:
print(raw_data)

    Rank                                    Name Platform  Year         Genre  \
0      1                              Wii Sports      Wii  2006        Sports
1      2                       Super Mario Bros.      NES  1985      Platform
2      3                          Mario Kart Wii      Wii  2008        Racing
3      4                       Wii Sports Resort      Wii  2009        Sports
4      5                Pokemon Red/Pokemon Blue       GB  1996  Role-Playing
..   ...                                     ...      ...   ...           ...
95    96  Crash Bandicoot 2: Cortex Strikes Back       PS  1997      Platform
96    97                     Super Mario Bros. 2      NES  1988      Platform
97    98     Super Smash Bros. for Wii U and 3DS      3DS  2014      Fighting
98    99              Call of Duty: World at War     X360  2008       Shooter
99   100                           Battlefield 3     X360  2011       Shooter

                      Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                      Nintendo     41.49     29.02      3.77         8.46
1                      Nintendo     29.08      3.58      6.81         0.77
2                      Nintendo     15.85     12.88      3.79         3.31
3                      Nintendo     15.75     11.01      3.28         2.96
4                      Nintendo     11.27      8.89     10.22         1.00
..                          ...       ...       ...       ...          ...
95  Sony Computer Entertainment      3.78      2.17      1.31         0.31
96                     Nintendo      5.39      1.18      0.70         0.19
97                     Nintendo      3.24      1.35      2.42         0.43
98                   Activision      4.79      1.90      0.00         0.69
99              Electronic Arts      4.46      2.13      0.06         0.69

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
..           ...
95          7.58
96          7.46
97          7.45
98          7.37
99          7.34

[100 rows x 11 columns]